select{
  height: 38px;
  border-radius: 4px;
  border-color: #ccc;
}
input[type="date"]{
  padding:4px;
  height: 38px;
  border-color: #ccc;
  border-style: solid;
  border-radius: 5px;
  border-width: 1.7px;
}